<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	 

	<bean id="baseCarService" class="org.m4.platform.service.BaseServiceImpl">
		<property name="dataModels">
			<list>
				<ref bean="carDataModel" />
				<ref bean="truckDataModel" />
			</list>
		</property>
	</bean>

	<bean id="baseShopService" class="org.m4.platform.service.BaseServiceImpl">
		<property name="dataModels">
			<list>
				<ref bean="shopDataModel" />
			</list>
		</property>
	</bean>
	
	<bean id="prodParellelService" class="org.m4.platform.service.BaseParellelServiceImpl">
		<property name="domainModel" ref="prodDomainModel" />
		<property name="services" >
			<list>
				<ref bean="baseCarService" />
				<ref bean="baseShopService" />
			</list>
		</property>
	</bean>
	
	<bean id="prodPipelineService" class="org.m4.platform.service.BasePipelineServiceImpl">
		<property name="domainModel" ref="prodDomainModel" />
		<property name="services" >
			<list>
				<ref bean="baseShopService" />
				<ref bean="baseCarService" />
			</list>
		</property>
	</bean>
	
	<bean id="prodDomainModel" class="org.consumer.domainmodel.ProdDomainModel" />

	 
</beans>