**/*.class
**/target/*
RemoteSystemsTempFiles/*
*.bak
.metadata/*
.recommenders/*
**/.settings/*
**/*.classpath
**/*.project
Servers/*
**/META-INF/*
**/logs/*
ch.basler.*

libra/node_modules/*
/.metadata/
/.recommenders/
.idea/*
*/node_modules/*