<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

  	<!--   				DAO sequence diagram                            -->
 	<!--                                                                -->
	<!--  	 shop   truck;          room                                -->
	<!-- 	======> ======>      ============>        desk              -->
	<!--     	house                car          ============>         -->
	<!-- 	==============>      ============>                          -->
	<!-- 	|			  |		 |			 |	  |			  |	        -->
	<!-- 	\advanced pera/		 \ base pera /	  \ base pera /	        -->
	<!--																-->
	<!--	|												  |			-->
	<!--	\ 				advanced pipeline				  /			-->
	<!--																-->
	
	
	
	<bean id="basePipelineService1" class="com.yunbao.m4.platform.svc.BasePipelineService">
		<property name="dataModels">
			<list>
				<ref bean="shopDataModel" />
				<ref bean="truckDataModel" />
			</list>
		</property>
	</bean>
	<bean id="baseParellelService1" class="com.yunbao.m4.platform.svc.BaseParellelService">
		<property name="dataModels">
			<list>
				<ref bean="houseDataModel" />
			</list>
		</property>
	</bean>
	<bean id="aParellelService1" class="com.yunbao.m4.platform.svc.AdvancedParellelService">
		<property name="services">
			<list>
				<ref bean="basePipelineService1" />
				<ref bean="baseParellelService1" />
			</list>
		</property>
	</bean>
	
	<bean id="baseParellelService2" class="com.yunbao.m4.platform.svc.BaseParellelService">
		<property name="dataModels">
			<list>
				<ref bean="roomDataModel" />
				<ref bean="carDataModel" />
			</list>
		</property>
	</bean>
	
	<bean id="aParellelService2" class="com.yunbao.m4.platform.svc.AdvancedParellelService">
		<property name="services">
			<list>
				<ref bean="baseParellelService2" />
			</list>
		</property>
	</bean>
	
	<bean id="baseParellelService3" class="com.yunbao.m4.platform.svc.BaseParellelService">
		<property name="dataModels">
			<list>
				<ref bean="deskDataModel" />
			</list>
		</property>
	</bean>
	<bean id="aParellelService3" class="com.yunbao.m4.platform.svc.AdvancedParellelService">
		<property name="services">
			<list>
				<ref bean="baseParellelService3" />
			</list>
		</property>
	</bean>
	
	<bean id="aPipelineService" class="com.yunbao.m4.platform.svc.AdvancedPipelineService">
		<property name="domainModel" ref="prodDomainModel" />
		<property name="advancedServices" >
			<list>
				<ref bean="aParellelService1" />
				<ref bean="aParellelService2" />
				<ref bean="aParellelService3" />
			</list>
		</property>
	</bean>
	
	<bean id="prodDomainModel" class="com.yunbao.m4.consumer.domainmodel.ProdDomainModel" >
		<property name="domainModelBuilder" ref="prodDomainModelBuilder"/>
	</bean>
	<bean id="prodDomainModelBuilder" class="com.yunbao.m4.consumer.domainmodel.ProdDomainModelBuilder" />
	 
</beans>