<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">



	<import resource="spring-services.xml" />

	<bean id="carDataModel" class="org.consumer.datamodel.CarDataModel">
		<property name="dao" ref="carDAO"></property>
	</bean>

	<bean id="carDAO" class="org.consumer.dao.CarDAO">
		<property name="url" value="http://localhost:8080/producer/prod.xml" />
	</bean>


	<bean id="truckDataModel" class="org.consumer.datamodel.TruckDataModel">
		<property name="dao" ref="truckDAO"></property>
	</bean>

	<bean id="truckDAO" class="org.consumer.dao.TruckDAO">
		<property name="url" value="http://localhost:8080/producer/prod.xml"></property>
	</bean>

	<bean id="shopDataModel" class="org.consumer.datamodel.ShopDataModel">
		<property name="dao" ref="shopDAO"></property>
	</bean>
	<bean id="shopDAO" class="org.consumer.dao.ShopDAO">
		<property name="url" value="http://localhost:8080/producer/shop.xml"></property>
	</bean>

	<!-- <bean id="shopsDataModel" class="org.consumer.datamodel.ShopsDataModel">
		<property name="dao" ref="shopsDAO"></property>
	</bean>
	<bean id="shopsDAO" class="org.consumer.dao.ShopsDAO">
		<property name="url" value="http://localhost:8080/producer/shop.xml"></property>
	</bean> -->
	
	<bean id="houseDataModel" class="org.consumer.datamodel.HouseDataModel">
		<property name="dao" ref="houseDAO"></property>
	</bean>

	<bean id="houseDAO" class="org.m4.platform.dao.AbstractDAO">
		<property name="url" value="http://localhost:8080/producer/house.xml"></property>
	</bean>
	
	<bean id="RoomDataModel" class="org.consumer.datamodel.RoomDataModel">
		<property name="dao" ref="roomDAO"></property>
	</bean>

	<bean id="roomDAO" class="org.m4.platform.dao.AbstractDAO">
		<property name="url" value="http://localhost:8080/producer/room.xml"></property>
	</bean>
	<bean id="deskDataModel" class="org.consumer.datamodel.DeskDataModel">
		<property name="dao" ref="deskDAO"></property>
	</bean>

	<bean id="deskDAO" class="org.m4.platform.dao.AbstractDAO">
		<property name="url" value="http://localhost:8080/producer/desk.xml"></property>
	</bean>
</beans>